# 版本控制系統文件
.git
.github
.gitignore

# node相關檔案
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.pnpm-store

# 開發環境
.env.local
.env.development.local
.env.test.local
.env.production.local

# 編譯輸出
.next
out
dist
build

# 快取
.cache
.npm
.eslintcache

# 測試文件
coverage
__tests__
test
tests

# 系統文件
.DS_Store
Thumbs.db

# 文檔和其他資源
README.md
CHANGELOG.md
docs
*.md

# 腳本和配置工具
scripts